.DS_Store

train_python/.idea/
train_python/__pycache__/
train_python/*.pth
train_python/stock_daily_*

freeze_cpp/build/
freeze_cpp/libtorch/

serve_scala/.idea/
serve_scala/lib/
serve_scala/logs/
serve_scala/target/
serve_scala/project/target/
serve_scala/src/main/resources/*.pth
serve_scala/project/project/

request_python/.idea/
request_python/__pycache__/
request_python/app/__pycache__/
request_python/*.pyc
request_python/modelDB/uid=0/
